<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Simon Zigelli">
    <meta name="description" content="StagyBee Management Console Login">
    <meta name="keywords" content="StagyBee, Stage, Management, Console">
    {% load static %}
    <link href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css?ver=@@b-version" rel="stylesheet">
    <title>StagyBee Management Console Login</title>
    <style>
        .app-bar-menu li {
            list-style: none !important;
        }
    </style>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>



