<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Simon Zigelli">
    <meta name="description" content="Territorium Map Server">
    <meta name="keywords" content="Territorium, Map, Server">
    {% load static %}
    <title>Territorium Map Server</title>
    <link rel="icon" sizes="192x192" href="https://material.io/static/images/simple-lp/favicons/components-192x192.png">
    <link rel="shortcut icon" href="https://material.io/static/images/simple-lp/favicons/components-72x72.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://unpkg.com/material-components-web@v5.1.0/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@v5.1.0/dist/material-components-web.min.js"></script>
</head>
<body class="mdc-typography">
<noscript>You need to enable JavaScript to run this app.</noscript>
{% include "fileserver/header.html" %}
<div class="mdc-top-app-bar--fixed-adjust">
    {% block content %}
    {% endblock %}
</div>
<script>mdc.autoInit()</script>
</body>
</html>



